<!--  Return an array in any case 1 or multiple elements-->

<% Array(@spaces).each do |x| %>
  <% next if x.capacity == nil || x.capacity <= 0 %>
  <div id="spaces-list">
    <ul class = "all-list">
      <div class="space-item">
        <li><p>Address: <%= x.address %></p></li>
        <li><p>Capacity: <%= x.capacity %></p></li>
        <li><p>Garbage Day: <%= x.garbaje_day %></p></li>
        <button type="button" class="buy-spot">Buy the spot</button>
      </div>
    </ul>
  </div>
<% end %>
